@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: HelveticaBold;
	src: url(../public/fonts/Helvetica\Neu\Bold.ttf);
}

@font-face {
	font-family: HelveticaMedium;
	src: url(../public/fonts/HelveticaNeue\Medium.ttf);
}

@font-face {
	font-family: HelveticaLight;
	src: url(../public/fonts/HelveticaNeue\Light.ttf);
}

.uline {
	@apply underline;
	text-decoration-color: #a5a5a5;
}

.rot {
	position: fixed;
    transform: rotate(90deg);
    top: 150px;
    /* left: 1001px; */
    right: -120px;
}

.menu-link {
	@apply font-hbold text-gray-700 py-3 text-2xl;
}

.alizn {
	@apply items-center;
	float: left;
	@apply pl-5;

}

@screen sm {
	.menu-link {
		@apply px-8;
	}
	.alizn {
		float: left;
		@apply pl-5;
	}
	.rot {
		position: fixed;
		transform: rotate(90deg);
		top: 240px;
		/* left: 1001px; */
		right: -189px;
	}
}

@screen md {
	.menu-link {
		@apply px-8;
	}
	.alizn {
		float: initial;
	}
	.rot {
		position: fixed;
		transform: rotate(90deg);
		top: 240px;
		/* left: 1001px; */
		right: -189px;
	}
}

@screen lg {
	.menu-link {
		@apply px-10;
	}
	.alizn {
		float: initial;

	}
	.rot {
		position: static;
		transform: rotate(0deg);
	}
}

@screen xl {
	.menu-link {
		@apply px-10;
	}
	.alizn {
		float: initial;
	}
	.rot {
		position: static;
		transform: rotate(0deg);
	}
}

.menu-font {
	@apply font-hbold text-gray-700 text-2xl;
}

.c-div {
	@apply px-40 flex items-center;
	height: calc(100vh - 200px);
}
